<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FiRes - Find Restaurant</title>
        <meta charset="UTF-8" />
        <meta
            name="google-site-verification"
            content="9EC6XTb-KXDZNnPIQnru4nrVUmdXRRz2Ewly4c6X6Dg"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Website Katalog Restoran untuk Submission Dicoding.com"
        />
        <meta
            name="keywords"
            content="fires, fires - find restaurant, dicoding, katalog restoran, restoran, bdd"
        />
        <meta name="msapplication-TileColor" content="#ec1c2d" />
        <meta
            name="msapplication-TileImage"
            content="./images/logo/favicon/ms-icon-144x144.png"
        />
        <meta name="author" content="Rand" />
        <meta name="theme-color" content="#ec1c2d" />
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="./images/logo/favicon/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="./images/logo/favicon/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="./images/logo/favicon/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="./images/logo/favicon/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="./images/logo/favicon/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="./images/logo/favicon/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="./images/logo/favicon/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="./images/logo/favicon/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./images/logo/favicon/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="./images/logo/favicon/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./images/logo/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="./images/logo/favicon/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="./images/logo/favicon/favicon-16x16.png"
        />

        <link rel="manifest" href="manifest.json" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- Skip To Content -->
        <a href="#list" class="skip-link" tabindex="1" title="Menuju ke Konten"
            >Menuju ke Konten</a
        >
        <!-- Skip To Content -->

        <div class="page-wrapper">
            <navigation-bar></navigation-bar>
            <hero-section></hero-section>
            <div class="app"></div>
            <footer-section></footer-section>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>
