<!DOCTYPE html>
<html lang="en">
    <head>
        <script data-ad-client="ca-pub-7443391235483178" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <meta charset="UTF-8" />
        <meta
            name="google-site-verification"
            content="9EC6XTb-KXDZNnPIQnru4nrVUmdXRRz2Ewly4c6X6Dg"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content="Website Katalog Restoran untuk Submission Dicoding.com"
        />
        <meta
            name="keywords"
            content="fires, fires - find restaurant, dicoding, katalog restoran, restoran, bdd"
        />
        <meta name="author" content="Rand" />
        <link
            rel="apple-touch-icon"
            sizes="57x57"
            href="./images/logo/favicon/apple-icon-57x57.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="60x60"
            href="./images/logo/favicon/apple-icon-60x60.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="./images/logo/favicon/apple-icon-72x72.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="76x76"
            href="./images/logo/favicon/apple-icon-76x76.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="./images/logo/favicon/apple-icon-114x114.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="120x120"
            href="./images/logo/favicon/apple-icon-120x120.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="144x144"
            href="./images/logo/favicon/apple-icon-144x144.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="152x152"
            href="./images/logo/favicon/apple-icon-152x152.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="./images/logo/favicon/apple-icon-180x180.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="192x192"
            href="./images/logo/favicon/android-icon-192x192.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="./images/logo/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="96x96"
            href="./images/logo/favicon/favicon-96x96.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="./images/logo/favicon/favicon-16x16.png"
        />
        <meta name="msapplication-TileColor" content="#ec1c2d" />
        <meta
            name="msapplication-TileImage"
            content="./images/logo/favicon/ms-icon-144x144.png"
        />
        <link rel="manifest" href="manifest.json" />
        <meta name="theme-color" content="#ec1c2d" />
        <title>FiRes - Find Restaurant</title>
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
            type="text/css"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <!-- Skip To Content -->
        <a href="#list" class="skip-link" tabindex="1" title="Menuju ke Konten"
            >Menuju ke Konten</a
        >
        <!-- Skip To Content -->
        <div class="page-wrapper">
            <!-- NavBar START -->
            <div class="nav-wrapper">
                <nav class="navbar">
                    <div class="brand">
                        <img
                            src="./images/logo/fires.png"
                            alt="FiRes Logo"
                            width="30px"
                            height="44px"
                        />
                        <h3>FiRes</h3>
                    </div>

                    <button
                        class="menu-toggle"
                        id="mobile-menu"
                        aria-label="Tombol Navigasi"
                    >
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/favorite">Favorite</a>
                        </li>
                        <li class="nav-item">
                            <a
                                href="https://github.com/lvstr"
                                rel="noopener"
                                target="_blank"
                                >Tentang Kami</a
                            >
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- NavBar END -->

            <main>
                <!-- Hero START -->
                <section class="hero">
                    <div class="hero-content">
                        <h1 class="hero-title">FiRes - Find Restaurant</h1>

                        <h2 class="hero-subtitle">
                            Kami memberi Restoran terbaik untuk anda!
                        </h2>

                        <div class="button-wrapper">
                            <a href="#list" class="hero-button">
                                Cari Restoran &raquo;
                            </a>
                        </div>
                    </div>
                </section>
                <!-- Hero END -->

                <!-- Content START -->
                <section>
                    <div class="main"></div>
                </section>
                <!-- Content END -->

                <!-- Footer START -->
                <footer>
                    <div class="footer">
                        <div class="inner-footer">
                            <div class="footer-items">
                                <h1>FiRes</h1>
                                <p>Kami memberi Restoran terbaik untuk anda!</p>
                            </div>

                            <div class="footer-items">
                                <h4>Link Cepat</h4>
                                <div class="border1"></div>
                                <ul>
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#list">Daftar Restoran</a></li>
                                    <li><a href="/favorite">Favorite</a></li>
                                    <li>
                                        <a
                                            href="https://github.com/lvstr"
                                            target="_blank"
                                            rel="noopener"
                                            >Tentang Kami</a
                                        >
                                    </li>
                                </ul>
                            </div>

                            <div class="footer-items">
                                <h4>Kontak Kami</h4>
                                <div class="border1"></div>
                                <ul>
                                    <li>
                                        <i
                                            class="fa fa-map-marker"
                                            aria-hidden="true"
                                        ></i
                                        >Jl Temanggung Silam, RT 002/RW 004 No
                                        29, Beriwit, Murung, Murung Raya,
                                        Kalimantan Tengah, 73911
                                    </li>
                                    <li>
                                        <i
                                            class="fa fa-phone"
                                            aria-hidden="true"
                                        ></i>
                                        <a
                                            href="tel:+6285820668826"
                                            title="Nomor Telepon"
                                            >+6285820668826</a
                                        >
                                    </li>
                                    <li>
                                        <i
                                            class="fa fa-envelope"
                                            aria-hidden="true"
                                        ></i>
                                        <a
                                            href="mailto:serankucing@gmail.com"
                                            title="Email"
                                            >serankucing@gmail.com</a
                                        >
                                    </li>
                                </ul>

                                <div class="social-media">
                                    <a
                                        href="https://instagram.com/lvstr_"
                                        title="Akun Instagram"
                                        target="_blank"
                                        rel="noopener"
                                        ><i class="fa fa-instagram"></i
                                    ></a>
                                </div>
                            </div>
                        </div>

                        <!--   Footer Bottom start  -->
                        <div class="footer-bottom">
                            Copyright &copy; FiRes 2021.
                        </div>
                    </div>

                    <!--   Footer Bottom end -->

                    <!--   FOOTER END -->
                </footer>
                <!-- Footer END -->
            </main>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </body>
</html>
