@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
@import url("./hero.css");
@import url("./card.css");
@import url("./skeleton.css");
@import url("./breadcrumb.css");
@import url("./footer.css");
@import url("./detail.css");
@import url("./menu.css");
@font-face {
  font-family: "FontAwesome";
  font-weight: 400;
  font-style: normal;
  src: url("./fontawesome/fonts/fontawesome-webfont.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: "BaloBhai2", sans-serif;
}

button,
a {
  display: block;
  min-height: 44px;
  min-width: 44px;
}

:target:before {
  content: "";
  display: block;
  height: 100px;
  margin: -100px 0 0;
}

.skip-link {
  position: absolute;
  top: -1000px;
  left: 0;
  background-color: #5165f4;
  color: white;
  padding: 8px;
  z-index: 9999999999;
}
.skip-link:focus {
  top: 0;
}

#more {
  display: none;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
